<!DOCTYPE html>
<html lang="en">
  <head>
      <title>node-express-template</title>
      <meta name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0" />
      <script type="text/javascript" src="/public/javascripts/jquery.js"></script>
      <script type="text/javascript" src="/public/javascripts/app.js"></script>
      <link rel="stylesheet" type="text/css" href="/public/stylesheets/app.css" />
  </head>
  <body>
    <script id="template-" type="x-custom-template">
    </script>
  </body>
</html>
